# Ignore cached terraform stuff and s3-backed include folder
.terraform/*
include/*

# Ignore terraform.tfvars
terraform.tfvars

# Ignore any local state generated
terraform.tfstate*

# Ignore packer build.log
build.log

# Ignore Gemfile.lock
Gemfile.lock

# Ignore local env vars (from figaro)
config/application.yml

# Ignore env vars (from dotenv)
*.env
*.env.*

# Ignore terraform zips and the Terraform binary
terraform
terraform_*.zip
